<div class="container">
    <div class="title-container">
        <div class="title">
            My Angular Wordle
        </div>
        <div class="subtitle">
            Learning purpose only. Play the original Wordle game <a href="https://www.nytimes.com/games/wordle/index.html" target="_blank">here</a>
        </div>
    </div>
    <div class="main">
        <div class="try-container" *ngFor="let try of tries">
            <div class="letter-container" *ngFor="let letter of try.letters">
                LIGNE
            </div>
        </div>
    </div>
    <div class="keyboard-container">
        keyboard
    </div>
</div>

